<template>
    <!-- eslint-disable -->
    <div class="block__body">
        <a17-inputframe label="" name="browsers.grid_sections"> <a17-browserfield :name="fieldName('grid_sections')" item-label="" :max="20" endpoint="/cp/content/gridSections/browser" modal-title="Attach " :draggable="true" >Add up to 20 </a17-browserfield></a17-inputframe>
    </div>
</template>

<script>
  import BlockMixin from '@/mixins/block'

  export default {
    mixins: [BlockMixin]
  }
</script>
